.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  min-height: 100vh;
  background: linear-gradient(30deg,#9198e5, #0087bb);
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 30px;
}
.errorContainer {
  max-height: 55px;
}

.titleStyles {
  color: white;
}
