.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.collapseIcon {
    color: #f0f2f5;
    cursor: pointer;
    padding-left: 10px;
}
